@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body { 
    font-family: 'Inter', sans-serif; 
    overflow: hidden; 
}

.custom-scrollbar::-webkit-scrollbar { 
    width: 6px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb { 
    background: #e2e8f0; 
    border-radius: 10px; 
}

/* Add any other custom styles from the dashboard here */
.shadow-up { 
    box-shadow: 0 -4px 6px -1px rgb(0 0 0 / 0.05); 
}
